.display {
  background-color: #000000;
  color: white;

  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  font-weight: 200;
  width: 340px;
  height: 160px;


  & > div {
    font-size: 90px;
    padding: 3px 15px 2px 8px;
  }

}